[build]
builder = "NIXPACKS"

[deploy]
workingDirectory = "server"
startCommand = "npm start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/health"
healthcheckTimeout = 100

[env]
NODE_ENV = "production"
