[build]
builder = "NIXPACKS"
buildCommand = "cd server && npm install"

[deploy]
workingDirectory = "server"
startCommand = "npm run start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/health"
healthcheckTimeout = 100

[env]
NODE_ENV = "production"
